.food-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--lightest-slate);
}

.food-menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.food-menu .line-bar {
  display: none;
  margin-bottom: 8px;
  margin-right: 1.2rem;
  color: var(--darkest);
}

.food-menu .menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.food-menu .arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .food-menu .menu-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .food-menu .menu-list {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .food-menu {
    padding-bottom: 0;
  }
  .food-menu .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1.2rem;
    -moz-column-gap: 1.2rem;
    column-gap: 1.2rem;
  }

  .food-menu .line-bar {
    display: block;
  }

  .food-menu .arrow {
    display: block;
  }
}
