@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Inter:wght@400;500;700&family=Nunito+Sans:wght@100;200;300;400;600;800&family=Outfit:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-overpress: "Overpass", sans-serif;

  --darkest: #000;
  --dark: #111;
  --dark-tint: #222;
  --white: #fff;
  --light-green: #acfce9;
  --green: #29d9b0;
  --light-slate: #aaa;
  --lightest-slate: rgba(221, 221, 221, 0.492);
  --radius: 6px;
  accent-color: var(--green);
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-overpress);
  color: var(--dark-tint);
}

p {
  font-size: 1.6rem;
  font-weight: 500;
}

a {
  color: var(--dark-tint);
}

ul {
  list-style: none;
  padding-left: 0;
}

.btn,
li {
  cursor: pointer;
}

section {
  margin: 0 2.8rem;
  padding: 4rem 0;
}

.fade-para {
  color: var(--light-slate);
  font-weight: 400;
}

@media screen and (min-width: 540px) {
  p {
    font-size: 1.5rem;
  }

  section {
    margin: 0 3.2rem;
    padding-top: 5.2rem;
  }
}
