.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 2.8rem 1.2rem 2.8rem;
}

.footer .flex-left,
.footer .flex-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer .flex-left,
.footer .flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.2rem;
  -moz-column-gap: 1.2rem;
  column-gap: 1.2rem;
}

.footer a {
  font-size: 1.4rem;
  color: var(--green);
}

.footer h1 {
  color: var(--darkest);
  font-size: 2.4rem;
}

.footer span {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--light-slate);
}

@media screen and (min-width: 540px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 2.8rem 1.2rem 2.8rem;
  }

  .footer {
    margin: 0 3.2rem 1.2rem 3.2rem;
  }
}
